@media (max-width: 950px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
    .header__logo {
        max-width: 200px;
    }
    .header__contacts {
        
    }
    .promo__wrapper {
        align-items: center;
    }
}